<h1>All Alpha Bloggers</h1>
<div align="center">
  <%= will_paginate %>
</div>
<% @users.each do |user| %>
  <div class="row center" style="margin-bottom: 15px">
    <div class="col-md-4 offset-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-img-top" >
          <%= link_to gravatar_for(user), user_path(user) %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= user.username %></h5>
          <p class="card-text"><small><%= pluralize(user.articles.count, "article") if user.articles %></small></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div align="center">
  <%= will_paginate %>
</div>
